input {
  font-weight: bolder;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 10px white;
  border-radius: 9px;
}

.movies {
  background-color: hsl(20, 5.3%, 11.2%);  
  height: 90vh;
  padding: 3%;
}

.card{
  margin-right: 30px;
  margin-left: 30px;
  height: 45%;
  width: 16%;
  margin-bottom: 1.5rem;
}